body {
    background-color: #0F172A;
    color: #FFFFFF;
    font-family: Arial, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

#toggleLarge {
    background-color: #4F46E5;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
#toggleLarge:active {
    transform: scale(0.95);
}
.large-mode .display {
    font-size: 60px;
}
.large-mode .buttons button {
    font-size: 32px;
    padding: 25px;
    height: 80px;
}
.large-mode .calculator {
    width: 400px;
}
.calculator {
    background-color: #1E293B;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 350px;
}

.display {
    background-color: #020617;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 1px;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    text-align: right;
    height: 100px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background-color: #3730A3;
    color: #FFFFFF;
    font-size: 28px;
    padding: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    height: 70px;
}
button:hover {
    background-color: #4F46E5;
    box-shadow: 0 6px 12px rgba(0,0,0,0.4);
}
button:active {
  transform: scale(0.95);
}

.operators {
    background-color: #6366F1;
}
.operators:hover {
    background-color: #4F46E5;
}

.numbers, .zero {
    background-color: #334155;
}
.numbers:hover, .zero:hover {
    background-color: #475569;
}

.delete {
    background-color: #EF4444;
}
.delete:hover {
    background-color: #DC2626;
}
.equals {
    background-color: #8B5CF6;
}
.equals:hover {
    background-color: #7C3AED;
}
.clearDisplay {
    background-color: #475569;
}
.clearDisplay:hover {
    background-color: #374151;
}